.colorCarrito{
    color: antiquewhite;
    width: 50px;
    height: 20px;
}
.numeroCarrito{
    color: rgb(255, 255, 255);
    top: 0;
    right: 10;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-style: italic;
    font-size: 12px;
  
}