@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.forma{
    background-color: var(--black);
    border-radius: 5rem;
    box-shadow: 7px 5px 14px -6px rgb(19, 17, 17);
    gap: 1rem;
    padding: 2rem;
    margin-top: 50px;
    margin-left: 10%;
    overflow: hidden;  
    transition: all 0.20s ease-in;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.25);
    transform: translateY(-6px);
  }

.font{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2rem;
}


